<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mp11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/diam"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".ResetPasswordActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddWordActivity" />
        <activity android:name=".DynVideoPlayer"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PopActivity"
            android:theme="@style/AppTheme.PopWindow" />
        <activity android:name=".Main2Activity" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.example.mp11.myvideoplayer.CastOptionsProvider" />

        <activity
            android:name=".VideoPlayer"
            android:screenOrientation="landscape" />
        <!--<activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"-->
            <!--android:theme="@style/Base.Theme.AppCompat"/>-->
        <service
            android:name=".EasyWordsBtn"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyRegistrationActivity" />
        <activity android:name=".RegOrLogActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UpdateDeleteActivity" />
        <activity android:name=".GetAllWordsActivity" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>